[submodule "stremio-webview-reworked"]
	path = stremio-webview-reworked
	url = https://github.com/Alohomora-Ink/stremio-webview-reworked.git
[submodule "stremio-frontend-reworked"]
	path = stremio-frontend-reworked
	url = https://github.com/Alohomora-Ink/stremio-frontend-reworked
